<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="/style.css" rel="stylesheet">
</head>

<body>

  <nav>
    <h4>Memory card game</h4>
    <% if (user) { %>
      <ul>
        Zalogowany jako <%= user.username %>  
        <li>
          <li><a href="/ranking">Ranking</a></li>
          <li><a href="/plansza">Gra</a></li>
          <li>
                       
        </li>
           <a href="/auth/wyloguj" style="color:crimson">Wyloguj</a>
      </ul>
      <% } else { %>
        <ul>
          <li><a href="/logowanie">Logowanie</a></li>
          <li><a href="/rejestracja">Rejestracja</a></li>
        </ul>
        <% } %>
  </nav>
  <% if (message) { %>
    <h4 class="alert alert-info" style="text-align: center; margin-top: 50px;" role="alert">
      <%= message %>
    </h4>
    <% } %>
      <!-- jQuery first, then Tether, then Bootstrap JS. -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>