.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0.5em;
    font-size: 62.5%;
    letter-spacing: 1px;
}

.rightMenu {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 75em;
    /*border-radius: 1.5em;*/
    margin-bottom: 6em;
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}

.players {
    border-bottom: black solid 1px;
    display: flex;
    height: 60%;
    flex-direction: column;
}

.chat {
    display: flex;
    flex-direction: column;
}

#chatMessages {
    height: 88%;
    overflow-y: auto;
}


/*.chatSend {
    
}*/

.chatConteiner {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#chatForm {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    flex-direction: row;
}

#chatInput {
    border: none;
    padding: 0 1rem;
    border-radius: 2rem;
    margin: 0.25rem;
    width: 90%;
}

#chatInput:focus {
    outline: none;
}

#chatForm>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    width: 10%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

ul>li {
    list-style: none;
}

.card,
.reset-btn {
    cursor: pointer;
}

.btn {
    border-radius: 1em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
}

h1 {
    font-size: 3em;
    font-weight: 400;
}

h2 {
    font-size: 2.5em;
    font-weight: 600;
}

p {
    font-size: 1.6em;
}

.score-panel {
    font-size: 1.4em;
    padding: 1em 0 2em;
}

.moves-counter {
    padding: 0.5em;
    font-size: 1.5em;
}

.reset-btn {
    background: #000;
}

.timer-container {
    border-radius: 0.5em;
    color: #000;
    margin: 0.5em;
    padding: 0.5em;
}

.timer {
    font-size: 2em;
}

.text {
    font-size: 1.5em;
}


.deck {
    /*background-color: rgb(47, 32, 185);
    border-radius: 1.5em;*/
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 75em;
    margin-bottom: 6em;
    padding: 0.5em;
    width: 75em;
}

.deck,
.card {
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
    /*background: linear-gradient(234deg, rgba(131, 58, 180, 1) 0%, rgba(29, 248, 253, 1) 50%, rgba(252, 176, 69, 1) 100%);*/
    background-color: green;
    border-radius: 1.5em;
    height: 15%;
    width: 15%;
    background-repeat: no-repeat;
}

img {
    user-select: none;
    width: 100%;
    height: 100%;
    margin: auto;
}

.deck img {
    /*visibility: hidden;*/
    visibility: hidden;
    width: 9em;
}

.deck .card.flip {
    background: #fff;
    cursor: default;
    transform: rotateY(180deg);
    transition: transform 0.4s linear;
    pointer-events: none;
}

.flip img {
    background: #fff;
    visibility: visible;
}

.deck .card.match {
    background: #39d;
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

.match img {
    background: #39d;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cursor-true {
    cursor: pointer;
}

.cursor-false {
    cursor: initial;
}

.currPlayer {
    color: rgb(255, 0, 0);
}

.playerDiv {
    display: flex;
    margin-right: 20px;
    font-size: 20px;
}

.playerDiv p {
    padding: 10px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}