.ctr {
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.dif-ctr {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dif-ez,
.dif-md,
.dif-hd {
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    background: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.header {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    text-transform: uppercase;
}

.dif-ctr div:hover {
    /*box-shadow: 0px 0px 5px 1px rgba(2, 105, 164, 0.5);*/
    box-shadow: 0px 0px 12px 7px #1a94e6;
}

.rank {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rank-ctr {
    margin-top: 15px;
    border-radius: 10px;
    height: 50px;
    width: 50%;
    display: flex;
    padding: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.616);
}

.ele {
    display: flex;
    align-items: center;
    padding: 5px;
}

.pos {
    justify-self: left;
    border-right: rgba(0, 0, 0, 0.3) 1px solid;
}

.rest {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: left;
    width: 50%;
}

.text {
    margin-right: 15px;
    flex-grow: 1;
    width: 33%;
}

.buttonSelected {
    box-shadow: 0px 0px 0px 0px #1a94e6;
    background: linear-gradient(to bottom, #bdb4b4 5%, #474947 100%);
    /*background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);*/
    background-color: #79bbff;
    border-radius: 18px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #528ecc;
    margin: 10px 5px;
    background-repeat: no-repeat;
}

.buttonSelected :hover {
    background: linear-gradient(to bottom, #474947 5%, #bdb4b4 100%);
    box-shadow: 0px 0px 12px 70px #1a94e6;
}

.button {
    box-shadow: 3px 4px 7px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 18px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #528ecc;
    margin: 10px 5px;
    background-repeat: no-repeat;
}

.button :hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    box-shadow: 0px 0px 12px 7px #1a94e6;
}